/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-family: "adobe-kis", sans-serif;
    font-weight: 400;
    font-style: normal;
}

figcaption {
    color: rgb(85, 85, 85);
    margin: 0.25rem 0rem 1rem 1rem;
    font-family: "adobe-kis", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* aside */
aside {
    background-color:rgb(243, 245, 243);
    padding: 0.5rem 0.5rem 1.75rem 0.5rem;
}

aside .secondarystory h2 {
    font-size: 1.25em;
    margin: 0.5rem
}

aside p {
    margin: 0em 0em 1.75rem 0.5rem;
}


/* header */
h1 {
    max-width: 20em;
    margin-left: 0.5rem;
    margin-top: 2rem;
}


/* navigation */
nav a {
    color: rgb(56, 12, 13);
    font-family: "naresuan", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 1.75rem;
}

nav li {
    list-style-type: none;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
}

nav {
    margin: 1rem 0rem 1rem 0rem;
}


/* footer */
footer {
    background-color: rgb(56, 12, 13);
    padding: 0.5em;
    margin-top: 0em;
    box-sizing: border-box;
}
footer p {
    color: rgb(238, 238, 238);
    margin: 0em;
}


/* headings */
h2 {
    font-family: "naresuan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: rgb(196, 39, 40);
    margin: 0.5rem 0rem 0rem 1rem;
}

.mainstory h2 {
    font-size: 3em;
}

.secondarystory h2 {
    font-size: 2em;
}

.tertiarystory h2 {
    font-size: 1.25em;
    border-top: solid 1px rgb(196, 39, 40);
    padding-top: 0.3rem;
}

/* gallery */
div.container-gallery {
    max-width: 80em;
    margin: 0 auto;
    grid-column: 1/3;
}

div.container-gallery input {
    display: none;
}

main.gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(50% + 1.5em);
}

main.gallery figure{
    margin: 0;
    width: calc(50% - 3em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.75s;
}


main.gallery figcaption {
    font-size: 1.2em;
    margin: 1em 0;
    color: #888;
}


input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.gallery label {
    flex: 1 0 auto;
}

nav.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.5em;
    max-width: 80em;
}

div.gallery {
    max-width: 80em;
    margin: 0 auto;
    grid-column: 1/3;
}

/* newsletter */
h3 {
    font-family: "naresuan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: rgb(196, 39, 40);
    margin-bottom: 0.25em;
}

main.newsletter {
    grid-column: 1/3;
    max-width: 100%;
}

main.newsletter ul {
    list-style-type: none;
}

section button {
    background-color: rgb(196, 39, 40);
    color: rgb(238, 238, 238);
    margin: 1em 0em;
    font-family: "naresuan", serif;    
    height: 2em;
    width: 5em;
    border: none;
    border-radius: 4px;
    font-size: 1.5em;
}

section button:hover {
    background-color: rgb(35, 31, 32);
}

section.personal-info ul li, section.content ul li label{
    margin-bottom: 1.5em;
}

section.personal-info ul li{
    flex: 1 0 20em;
}

form section.personal-info li {
    display: grid;
}


section.personal-info ul li label, section.content ul li label{
    color: rgb(56, 12, 13);
    font-weight: 400;
    font-family: "adobe-kis", sans-serif;
    font-size: 1.25em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"] {
    width: 90%;
    border: 1px solid rgb(85, 85, 85);
    margin-top: 0.2em;
    height: 2em;
}

section.personal-info ul{
    display: flex;
    flex-wrap: wrap;
}

section.content ul {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 40em) {
    nav li {
        display: inline;
        margin-left: 0;
        margin-right: 1rem;
    }

    h1 {
        margin-left: 0;
    }

    h2 {
        padding: 0em;
        margin: 0em;
    }

    p {
        margin-left: 0em;
        margin-bottom: 2rem;
    }

    figcaption {
        margin-left: 0;
    }
}


@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    
    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.home-container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }


    section.secondarystory {
        display: flex;
    }

    section.secondarystory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img {
        object-fit: cover;
    }

    section.secondarystory a h2 {
        flex: 0 0 1em;
    }

    section.secondarystory a p {
        flex: 0 0 4em;
        margin-bottom: 0.5em;
    }

    section.tertiarystory a h2 {
        padding-left: 0.5rem;
    }
}